<header>
	header tbd
	<nav>
		<ul>
			<li><a [routerLink]="['/explore']" routerLinkActive="active">Explore</a></li>
			<li><a [routerLink]="['/guidelines']" routerLinkActive="active">Guidelines</a></li>
			<li><a [routerLink]="['/ui-kit']" routerLinkActive="active">UI Kit</a></li>
			<li><a [routerLink]="['/components']" routerLinkActive="active">Components</a></li>
			<li><a [routerLink]="['/examples']" routerLinkActive="active">Examples</a></li>
			<li><a [routerLink]="['/contact']" routerLinkActive="active">Contact</a></li>
		</ul>
	</nav>
</header>
<main>
	<router-outlet></router-outlet>
</main>
<footer>
	footer tbd
</footer>