<!--[if lt IE 9]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<header role="banner" id="page-header" class="docs-navbar navbar navbar-inverse navbar-static-top">
	<div class="navbar-header">
		<button data-target=".bs-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span> <span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button> <!-- Product title -->
		<ul class="nav navbar-nav">
			<li><a href="#intro" class="navbar-brand diagonal"> <span class="uxf-icon uxf-tools"></span> </a></li>
			<li>
				<div class="navbar-brand product-name">
					<div class="pq-logo"></div>
					<a href="#intro">UX Framework</a>
				</div>
			</li>
		</ul>
	</div>
	<nav role="navigation" class="collapse navbar-collapse bs-navbar-collapse"> <!-- Right nav -->
		<ul class="nav navbar-nav navbar-right">
			<li class="dropdown">
				<a href="" class="dropdown-toggle" data-toggle="dropdown">Changecolor theme <b class="caret"></b></a>
				<ul class="dropdown-menu"> <!-- ngRepeat: theme in themes -->
					<li class="ng-scope active">
						<a href="" class="ng-binding">
							<span class="uxf-icon uxf-record site-color-blue"></span>Blue</a>
					</li><!-- end ngRepeat: theme in themes -->

					<li class="ng-scope">
						<a href="" class="ng-binding">
							<span class="uxf-icon uxf-record site-color-green"></span>Green</a>
					</li><!-- end ngRepeat: theme in themes -->

					<li class="ng-scope">
						<a href="" class="ng-binding">
							<span class="uxf-icon uxf-record site-color-purple"></span>Purple</a>
					</li><!-- end ngRepeat: theme in themes -->

					<li class="ng-scope">
						<a href="" class="ng-binding">
							<span class="uxf-icon uxf-record site-color-olive"></span>Olive</a>
					</li><!-- end ngRepeat: theme in themes -->

					<li class="ng-scope">
						<a href="" class="ng-binding">
							<span class="uxf-icon uxf-record site-color-teal"></span> Teal</a>
					</li><!-- end ngRepeat: theme in themes -->
				</ul>
			</li>
		</ul> <!-- Global nav -->
		<div class="nav navbar-nav navbar-below">
			<ul class="nav navbar-nav">
				<li><a [routerLink]="['/explore']" routerLinkActive="active">Explore</a></li>
				<li><a [routerLink]="['/guidelines']" routerLinkActive="active">Guidelines</a></li>
				<li><a [routerLink]="['/ui-kit']" routerLinkActive="active">UI Kit</a></li>
				<li><a [routerLink]="['/components']" routerLinkActive="active">Components</a></li>
				<li><a [routerLink]="['/examples']" routerLinkActive="active">Examples</a></li>
				<li class="pull-right"><a [routerLink]="['/contact']" routerLinkActive="active">Contact</a></li>
			</ul>
		</div>
	</nav>
</header>
<main>
	<router-outlet></router-outlet>
</main>
<footer id="page-footer" role="contentinfo" class="clearfix ng-scope">
	<div id="footer-body"><p class="pull-left ng-binding">© Copyright 2016 ProQuest</p>
		<ul class="pull-right list-inline">
			<li class="ng-binding">Currently v2.0</li>
			<li><a href="javascript:void(0)">Report a bug</a></li>
			<li><a href="" data-toggle="modal" data-target="#email-updates-modal">Sign up for updates</a></li>
		</ul>
	</div>
</footer>